.card {
    background: #fff !important;
    color: #2d3273 !important;
    border:0px dotted
}
div > label {
    color: #fff;
}

.message {
    border-radius: 50px;
    margin: 0 15px 20px;
    padding: 10px 20px;
    position: relative;
    font-size: 20px;
  }
  .message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 100px;
    text-align: right;
    width: fit-content;
    float: right;
    font-size: 10px;
  }
  .message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 100px;
    width: fit-content;
    float: left;
    font-size: 10px;
  }
  .message.to + .message.to,
  .message.from + .message.from {
    margin-top: -10px;
}
.chat-bot {
    position: absolute;
    bottom: 65px;
    right: 20px;
    background: #cfd4d900;
    width: 40%;
    height: 50px;
}
.message-box {
    position: absolute;
    bottom: 115px;
    right: 20px;
    background: #96bfe800;
    width: 40%;
    max-height: 450px;
    min-height: 170;
    overflow-y:scroll;
    border:1px solid #000;
}
.min-max{
  text-align: right;
  background: #fff;
}
.msg {
    max-height: 420px !important;
    min-height: 170;
    overflow-y:scroll;
}
.noborder {
  border: 0px !important;
}
.col1 {
  color: #8f59f9;
  font-size: 1.5em;
    font-weight: bold;
}
.col2 {
  color: #4D3F72; 
  font-size: 1.5em;
  font-weight: bold;
  font:Poppins;
}
.form-control {
  font-size: 0.75rem !important;
}
.input {
  width: 100%;
  height: 40px;
  box-shadow: 0px 0px 4px 0px #000;
  border-radius: 5px;
  text-align: left;
}
.listview{
  position: relative;
  text-align: left;
  box-shadow: 0px 0px 4px 0px #000;
  width: 100%;
  z-index: 1;
  background: #fff;
}
@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}
.img-fluid {
  height: 120px;
  width: 120px;
}
.carousel-item.active {
  background-color: #fff;
}
.carousel-inner {
  box-shadow: 1px 2px 3px #000;
  padding-left:30px;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.carousel-control-prev {
  left:-30px
}
.carousel-control-next {
  right: -30px;
}
.carousel-div {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 760px;
  background: #fff;
}