/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.content {
    border: 0px solid #000;
    overflow-y:auto;
    height:100%;
    min-height: calc(100vh - 50px);
    /*/ background: url('./assets/images/background.png');*/
    width: 100%;
}
#content {
    border: 1px solid #000;
    overflow-y:auto;
    height:100%;
    min-height: calc(100vh - 30px);
}
.layout-left {
    /* background: rgb(212 213 221 / 40%);*/
    width: 20%;
    border-right: 1px solid #202016;
    min-height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    overflow-y:scroll;
    float: left;
}

.layout-right {
    background: #f0f0f014;
     width: 80%; 
    max-height: calc(100vh - 50px);
    /* overflow-y:scroll;*/
    padding: 5px;
    color: #fff;
    background: linear-gradient(109.23deg, #F5FEFD 14.54%, #F8F5FF 85.29%);
    float: right;
    /*-shadow: 0px 0px 3px 0px #000;*/
}
.relative {
    position: relative;
    float: right;
}
.active {
    color: #0a58ca;
    background: #0a58ca;
}
.txtw {
    color: #fff !important;
    background-color: #0a58ca;
    margin-left:5px;
}
.btn {
    background: #8f59f9 !important;
    border:  1px solid #8f59f9 !important;
}
.btn:hover {
    background: #fff !important; 
    color: #8f59f9 !important;
    border: 1px solid #8f59f9;
}
.btn-primary:hover{
    background: #fff !important; 
    color: #8f59f9 !important;
}
.cursor {
    cursor: pointer;
}
.link {
    color: #0a58ca;
}

 
  button {
    transform: translate(-1%, -50%);
    text-align: center;
    line-height: 25px;
    color: #fff;
    font-size: 12px;
    text-transform: capitalize;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(97.35deg, #8F59F9 -11.81%, #56F4E1 129.34%),linear-gradient(0deg, #FFFFFF, #FFFFFF);
    background-size: 100%;
    border-radius: 5px;
    z-index: 1;
    min-width:120px;
  }

  // button:hover {
  //   animation: animate 8s linear infinite;
  // }
  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }
  button:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    background: linear-gradient(97.35deg, #5301f7 -11.81%, #03a793 129.34%),linear-gradient(0deg, #FFFFFF, #FFFFFF);
    background-size: 100%;
    border-radius: 5px;
    opacity: 0;
    transition: 0.5%;
  }
  button:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
  }
  .pccolor {
    color: #8f59f9;
  }
  .pbgt {
    color: #8f59f9;
    font-weight: 700;
  }
  .cbgt {
    color: #68F1F3;
    font-weight: 700;
  }
  button.btn-blank {
    background: linear-gradient(97.35deg, #fff -11.81%, #fff 129.34%), linear-gradient(0deg, #FFFFFF, #FFFFFF)   !important;
    color: #8F59F9 ;
    border: 1px solid #8F59F9;
  }

  button.btn-blank:hover:before {
    opacity: .1;
    box-shadow: 1px 2px 3px #8F59F9;
  }