/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.content {
    border: 1px solid #000;
    overflow-y:auto;
    height:100%;
    min-height: calc(100vh - 50px);
    /*/ background: url('./assets/images/background.png');*/
    width: 100%;
}
#content {
    border: 1px solid #000;
    overflow-y:auto;
    height:100%;
    min-height: calc(100vh - 30px);
}
.layout-left {
    background: rgb(33 35 79);
    width: 30%;
    border-right: 1px solid #202016;
    min-height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    overflow-y:scroll;
}

.layout-right {
    background: #f0f0f014;
    width: 70%;
    max-height: calc(100vh - 50px);
    overflow-y:scroll;
    padding: 5px;
    color: #fff;
}
.relative {
    position: relative;
    float: right;
}
.active {
    color: #0a58ca;
    background: #0a58ca;
}
.txtw {
    color: #fff !important;
    background-color: #0a58ca;
    margin-left:5px;
}