<div class="content container" [hidden]="isGenerated">
  <app-about (submitUrl)="submit($event)"></app-about>
 </div> 
  <div [hidden]="!isGenerated"  class="content">       
    <div class="layout-left p-1">
            <img class="p-2" src="./assets/images/logo.png" width="300"/>
          <div class="row">
            <div class="col-sm-6 text-left">
              <button class="btn btn-sm btn-primary">History</button>
            </div>
            <div class="col-sm-6 text-right">
              <button (click)="close()" class="btn btn-sm btn-primary">Close</button> 
            </div>
          </div>
          <div class="pt-1">
            <ul>
              <li *ngFor ="let u of historyUrls">
                <span (click)="generateHistoryUrlsSummary(u.url)" class="link cursor">{{u.name}}</span>
              </li>
            </ul>
          </div>  
          <!-- <a class="navbar-brand" href="#">
            <img class="p-2" src="./assets/images/logo.png" width="100%"/>
          </a>

            <div class="card" >
                <div class="card-body">
                 <app-about></app-about>
                </div>
              </div>
             
              <div class="input-group pt-2">
                <div class="input-group mb-3">
                    <select class="form-control" [(ngModel)]="selectedLink">
                      <option value="">Choose Product Link</option>
                      <option *ngFor="let u of urls" [value]="u.url"> {{u.name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="relative ">
                  <button type="button" class="btn btn-primary" (click)="generateSummary()">Generate</button>
                </div> -->
        </div>
        <div class="layout-right">
            <div class="card" >
              <div class="card-body" *ngIf="generating">
                    <div *ngIf="!summaryResult.responsePros">
                      <img class="p-2" src="./assets/images/generating.svg" width="50"/>Generating......
                    </div>
                    <h5 class="card-title">{{summaryResult.product_name}}</h5>
                    <div class="card-text" [hidden]="!summaryResult.responsePros">
                      <img *ngIf="summaryResult" class="card-img-top" src="{{summaryResult.img_url}}" style="width: 200px; float: left;padding:10px">
                      <div>
                        <h5>Pros :</h5><ul><span id="appPros"> </span></ul>
                      </div>
                      <div [hidden]="counter2 == 0">
                        <h5>Cons :</h5><span id="appCons">  </span>
                      </div>
                    </div>
              </div>
              </div>  
              <div  class="message-box"  *ngIf="messages.length > 0">
                <div class="min-max"> 
                  <img *ngIf="minmax" src="./assets/images/min.png" width="20" (click)="maximize()"/>
                  <img *ngIf="!minmax"  src="./assets/images/max.png" width="25"  (click)="maximize()"/>
                </div>
                <div class="card noborder chat-bot-window" *ngIf="minmax">
                  <div #scrollMe  class="card-body msg ">
                    <ng-container *ngFor="let message of messages">
                      <div class="row">
                        <div class="col-md-12" [ngClass]="{'text-left': message.author === 'bot','text-right': message.author === 'user'}">
                          <img style="float: right;"  src="./assets/images/usericon.png" width="30" *ngIf="message.author === 'user'"/>
                          <img  style="float: left;"   src="./assets/images/usericon1.png" width="30" *ngIf="message.author === 'bot'"/>
                          <div class="" [ngClass]="{'from message1' : message.author === 'bot','to message2' : message.author === 'user'}">
                            {{ message.content }}
                          </div>
                        </div>
                      </div>
                    </ng-container>
                 </div>   
              </div>
              </div>
              <div class="chat-bot" *ngIf="summaryResult.response">
                  <div class="row" *ngIf="messageBox">
                    <div class="col-sm-11">
                      <!-- <label *ngIf="messages.length == 0; else dialogInfo" for="nameField">Ask your question</label> -->
                      <input [(ngModel)]="question" class="form-control" (keyup.enter)="sendMessage()" type="text"  placeholder="Ask your question"/>
                      <!-- <ng-template #dialogInfo>
                        <span [className]="'float-right'">Total messages: {{ messages.length }}</span>
                      </ng-template> -->
                    </div>
                      <div class="col-sm-1 text-end ">
                        <span class="cursor" (click)="sendMessage()">
                          <img class="" src="./assets/images/Sent.png" width="40"/>
                        </span>
                        <span class="cursor" (click)="sendTestMessage()">
                          <img class="" src="./assets/images/Sent.png" width="40"/>
                        </span>
                        <!-- <button (click)="sendMessage()" class="btn btn-sm btn-primary">Send</button> &ngsp; &ngsp; -->
                        <!-- <button (click)="sendTestMessage()" class="btn btn-sm btn-primary">Send</button> -->
                        <!-- <button (click)="clearMessage()" class="btn btn-sm  border txtw">Clear</button> -->
                      </div>
                  </div>
              </div>
       </div>     
</div>